<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<%- include(partials/header.ejs) %> 
<body>
    <h1>Editando usuario <%= userToEdit.name %> </h1>
    <form action="/users/register?_method=PUT" method="POST">
        <label for="">Nombre</label>
        <input type="text" name="nombre" value="<%= userToEdit.name %> ">
        
        <input type="submit" value="Editar">
    </form>
</body>
</html>